### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# .gitignore for Java projects

*.class
*.log

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws
out/
target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
